<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>

    <!--Return to All Customers-->
    <a href="{% url 'crafts_by_micks:all_customers'%}">All Customers</a>
    <a href="{% url 'crafts_by_micks:home_page' %}">Admin Home Page</a>

    <h3>Orders for: {{customer.first_name}} {{customer.last_name}}</h3>
    
    <!--Orders Needing Payment-->
    <h3>Awaiting Payment:</h3>
    {% if awaiting_payment_orders %}
        {% for order in awaiting_payment_orders %}
        Order: {{forloop.counter}}. Submitted on {{order.submitted_date}}
        <form action="{% url 'crafts_by_micks:view_order' order.id customer_id %}">
            <button type="submit">View Order</button>
        </form>
            <br>
        {% endfor %}

        

    {% else %}
        No Orders require payment<br>
    {% endif %}

    <!--Orders Being Processed-->
    <h3>Processing:</h3>
    {% if processing_orders %}
        {% for order in processing_orders %}
            Order being processed<br>
        {% endfor %}

    {% else %}
        No Orders being processed<br>
    {% endif %}

    <!--Completed Orders-->
    <h3>Completed:</h3>
    {% if completed_orders %}
        {% for order in completed_orders %}
            Order Completed<br>
        {% endfor %}
    {% else %}
        No orders have been completed for Client<br>
    {% endif %}
    
</body>
</html>