<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>View All Products</h1>

        {% for category in prod_categories %}

            <h1>{{category.0}}</h1>
            {% for product in category %}
            {% if forloop.counter > 1 %}
                <h3>{{product.title}} {{product.description}}</h3>
                <a href = "{% url 'crafts_by_micks:update_product' product.id 'none' %}">Update</a>
                <a href="{% url 'crafts_by_micks:initial_product_deletion' product.id %}">Delete</a>
            {% endif %}

            {% endfor %}


        {% endfor %}
    </body>
</html>