<html lang="en">
<head>

</head>
<body>

    <a href="{% url 'crafts_by_micks:home_page' %}">Return to Admin Home Page</a>

    {% if not labels%}
        <h2>No Labels</h2>
    {% else %}
        <h2>All Labels</h2>
    {% endif %}

    {% for label in labels%}

        {{label.title}}
        <a href="{% url 'crafts_by_micks:update_label' label.id 'none' %}">Update</a>
        <a href="{% url 'crafts_by_micks:delete_label' label.id %}">Delete</a>

        <br>

    {% endfor %}
</body>
</html>