<html lang="en">
<head>
    <meta charset="UTF-8">
    
</head>
<body>

    <a href="{% url 'product_site:site_home' %}">Return to Products</a>

    {% if message != 'none' %}
        {{message}}
    {% endif %}
    <h2>All Orders for: {{customer.first_name}} {{customer.last_name}}</h2>

    <!--Open Orders-->
    <h3>Open Orders</h3>
    {% if open_orders %}

        {% for order in open_orders %}
            Order: {{order.id}}
            {% for order_item in open_order_items %}
            <h5>----------------------------------------------------</h5>
                
                Product: <strong>{{order_item.product_title}}</strong> <br>

                {% for product_image in product_image_list %}
                    {%if product_image.0 == order_item.product_id %}
                        <img src="{{product_image.1.url}}" style = "width: 200px;"> <br>
                        {% endif %}
                {% endfor %}

                Quantity: {{order_item.quantity}} <br>
                Size: {{order_item.chosen_size}} <br>
                Price: R{{order_item.price}}<br>
                {% if order_item.options %}
                    Additional Options:<br>
                    {% for option in order_item.options %}
                        {%if option != ""%}
                            <ul>
                                <li>{{option}}</li>
                            </ul> 
                        {% endif %}
                    {% endfor %}  
                {% endif %}

                <form action = "{% url 'product_site:remove_item' order_item.id order.id %}">
                    <button type="submit"> Remove </button>

                </form>
            <h5>----------------------------------------------------</h5>
            {% endfor %}

            <form action="{% url 'product_site:submit_order' order.id %}" method="post">
                {% csrf_token %}

                <input type="submit" value="Submit Order"> 
            </form>
        {% endfor %}

    {% else %}
        <h4>No Open Orders</h4>
    {% endif %}

    <!--Processing Orders-->
    <h3>Processing</h3>
    {% if processing_orders %}

    {% for order in processing_orders %}
        {% if order.payment_received_date%}
            Order {{forloop.counter}} - Paid on {{order.payment_received_date}}
        {% else %}
            Order {{forloop.counter}} - Payment Not Received/Processed
        {% endif %}
        <form action="{% url 'product_site:view_order' order.id 'none'  %}">
            <button type="submit">View</button>
        </form>
        <br>
    {% endfor %}

    {% else %}
        <h4>No Orders being processed</h4>
    {% endif %}

    <!--Completed Orders-->
    <h3>Completed Orders</h3>
    {% if completed_orders %}

        {% for order in completed_orders %}
            Order {{forloop.counter}} - Delivered on {{order.delivered_date}}
            <form action="{% url 'product_site:view_order' order.id 'none'  %}">
                <button type="submit">View</button>
            </form>
            <br>
        {% endfor %}

    {% else %}
        <h4>No Completed Orders</h4>
    {% endif %}

</body>
</html>