{% extends "page_base.html" %}

{% load static %}

{% block content %}

    <a href="{%url 'product_site:site_home' %}">All Products</a>
    <br>

    {% if not logged_in %}
        <h3>Please Sign_Up or login to your account to place an order</h3>
    {% endif %}
    <br>
    
    <h1>{{product.title}}</h1>

    {% if product.review_value == 0 %}
        No Reviews
    {% else %}
        Rating: {{product.review_value}}
    {% endif %}

    {% if discount_bool %}
        <h4>On Discount</h4>
    {% endif %}

    {% for label in labels %}
        <h3>{{label.title}}</h3>
    {% endfor %}

    {{product.description}}<br>
    <img style="width: 200px;" src="{{product.product_image.url}}"> <br>

    {% for image in product_images %}
        <img style="width: 200px;" src="{{image.image.url}}">
        <br>
        <br>
    {% endfor %}

    <!--LOGGED IN - ALLOW SUBMISSION FOR PRICING, QUANTITY AND OPTIONS-->
    <h3>Pricing</h3>
    {% if logged_in %}

    {% if error != 'none' %}
        <h3>ERROR - Price was not selected</h3>
    {% endif %}
    <h4>Select the Size(s) you would like</h4>
    <form action="{% url 'product_site:create_order_item' product_id=product.id %}" method="post">
        {% csrf_token %}
        
        <!--PRICING-->
        {% for size_price in price_list %}
            <input type="checkbox" name="selected_sizes" value="{{size_price.id}}"/>

            {% if size_price.size == 'none' %}
                <label for="{{size_price}}.size">
                    Base Price:
                </label>
                <label for="{{size_price}}.price">
                    R{{size_price.price}}
                </label> 

            <input type="number" name="{{size_price.size}} quantity" min="1" value="1">
            {% else %}
                {{size_price.size}}: R{{size_price.price}}
                <input type="number" name="{{size_price.size}} quantity" min="1" value="1">
            {% endif %}
            <br>    
        {% endfor %}

        <!--OPTIONS-->
        <h3>Addtional Options</h3>
        <!--Options not Compulsory for a Product-->
        {% if options %}
        <h4>Select any options you would like to add:</h4>
            {% for option in options %}
            <input type="checkbox" name="product_options" value="{{option.id}}"/>  
                {{option.title}}: {{option.description}}
                <br>
            {% endfor %}
        {% endif %}
        

        <!--FORM SUBMISSION-->
        <input type="submit" value="Add to Order">
    </form>

    <!--NOT LOGGED IN - SHOW PRICING, QUANTITY AND OPTIONS WITH NO SUBMISSION-->
    {% else %}

        <!--PRICING-->
        {% for size_price in price_list %}
            {% if size_price.size == 'none' %}
                Base Price: R{{size_price.price}}
            {% else %}
                {{size_price.size}}: R{{size_price.price}}
            {% endif %}
                <br>
        {% endfor %}

        <!--OPTIONS-->
        <h3>Addtional Options</h3>
        {%if options %}
        <h3>Options</h3>
        {% for option in options %}
            {{option.title}}: {{option.description}}
            <br>
        {% endfor %}
    {% endif %}


    {% endif %}

    <!--OPTIONS-->








{% endblock %}