<!-- Administrator Control - Update a Label -->
<html lang="en">
    <head>
        <title>Admin Control - Update Label {{label.title}}</title>
        <!-- BootStrap Styling-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    </head>

    <body class = "container-fluid">

        <!-- Heading Section -->
        <div class = "row pt-1 pb-1"
            style="background-color: rgb(61, 60, 60);">
            <!-- Return to Admin Home Page-->
            <div class = "col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-4 my-2">
                <a class = "btn btn-outline-light"
                    href= "{% url 'crafts_by_micks:view_all_labels' %}">
                    Back to Labels
                </a>
            </div>
            <!-- Page Title -->
            <div class = "col text-start" style="color: white;">
                <h2>Label Update: {{label.title}}</h2>
            </div>
        </div>

        <!-- Label Creation Date -->

        <div class = "row">
            <div class = "col-xxl-5 col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12 mx-1 my-2 rounded"
                style = " background-color: gray; border: 1px solid black; color: white;">
                <h4>Created on: {{label.creation_date}}</h4>
            </div>
        </div>

        <!-- Display Error for non-unique label name input-->
        {% if error != 'none' %}
        <div class = "row">
            <div class = "col-xxl-5 col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12 mx-1 my-2 rounded"
                style = "border: 3px solid red;">
                    <h4>Title was not Unique</h4>
            </div>
        </div>
        {% endif %}
        
        <!-- Allow user to change label title, discount percentage, days to removal and colour -->
        <form action= "{% url 'crafts_by_micks:save_label_update' label.id %}" method="post">
            {% csrf_token %}

            <!-- Update Title -->
            <div class = "row">
                <div class = "col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-7 col-xs-8 form-outline mb-4">
                    <!-- New Title Input-->
                    <input class="form-control" style="border: 2px solid black;"
                        type="text", name="title" placeholder="New Title">
                </div>
            </div>
            
            <!-- Update Discount Percentage-->
            <div class = "row">
                <div class = "col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-7 col-xs-8 form-outline mb-4">
                    <h4>Discount Percentage:</h4>
                    <!-- New Discount Input-->
                    <input class="form-control" style="border: 2px solid black;"
                    type="number" name='discount_percentage' min="0" max="100"
                    value="{{label.discount_percentage}}">
                </div>
            </div>

            <!-- Update Days to Removal-->
            <div class = "row">
                <div class = "col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-7 col-xs-8 form-outline mb-4">
                    <h4>Days Till Removal:</h4>
                    {% if label.removal_days == -1 %}
                    <input class="form-control" style="border: 2px solid black;"
                    type="number" name='removal_days' min="0" placeholder="none" value="None">
                {% else %}
                <input class="form-control" style="border: 2px solid black;"
                type="number" name='removal_days' min="0" placeholder="none" value="{{label.removal_days}}">
                {% endif %} 
                </div>
            </div>

            <!-- Update Label Background Colour-->
            <div class = "row">
                <div class = "col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-7 col-xs-8 form-outline mb-4">
                    <h4>Label Colour:</h4>
                    <input class="form-control" style="border: 2px solid black;"
                    type="color" name="custom_colour" id="custom_colour" value="{{label.custom_colour}}">
                </div>
            </div>

            <!-- Update Label Submission Button -->
            <input class = "btn btn-primary" type = 'submit' value="Update">
        </form>
    </body>
</html>
