<html lang="en">
<head>


</head>
<body>

    <a href="{% url 'crafts_by_micks:home_page' %}">Return to Admin Home Page</a>
    <br>
    <a href="{% url 'crafts_by_micks:view_all_products' %}">Back to Products</a>


    <h1>Update a Product</h1>
    <form action= "{% url 'crafts_by_micks:save_update' product.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <ul>
            <h2>Category</h2>
            {% for category in all_categories %}
                {% if category.title == current_category %}
                    <input type="radio" name="category" id="category{{category.title}}" value="{{category.id}}" checked required />
                    <label for="category {{category.title}}">
                        {{category.title }}
                    </label>
                {% else %}
                    <input type="radio" name="category" id="category{{category.title}}" value="{{category.id}}" required />
                    <label for="category {{category.title}}">

                        {{category.title }}
                    </label>
                {% endif %}
            {% endfor %}
            
            <h2>Labels</h2>
            {% for label in current_labels%}
                <input type="checkbox" name="labels" id="label{{label.id}}" value="{{label.id}}" checked />
                <label for="label {{label.title}}">
                    {{label.title }}
                </label>
            {% endfor %}

            {% for label in not_assigned%}
            <input type="checkbox" name="labels" id="label{{label.id}}" value="{{label.id}}" />
            <label for="label {{label.title}}">
                {{label.title }}
            </label>
        {% endfor %}

            <li>
                {% if error == 'Duplicate Name' %}
                    Error Updating Product: {{error}}
                        <br>
                {%endif%}
                <label>Product Name</label>
                <input type="text" name='title' required value="{{product.title}}">
                <br>
            </li>
            <li>
                <label>Description</label>
                <textarea name='description' required>{{product.description}}</textarea>
                <br>
                <br>    
            </li>

            <h5>Current Image</h5>
            <img src="{{product.product_image.url}}" alt = "Product Main Display Image" style="width: 20%;">
            <br>
            <label>Change Image</label>
            <input type="file" name="new_main_image">
            <br>

            <h3>sizes</h3>
            {% for size in all_sizes %}

                <label>{{size.0}}</label>
                <input type="" min="0" name='{{size.0}} price'  value={{size.1}} required>
                <br>

            {% endfor %}
            
            {% if options %}
                <h3>Current Options</h3>
                {% for option in options %}

                    <label>Name</label>
                    <input type="text" name='Option{{option.id}} title' value="{{option.title}}">
                    <label>Description</label>
                    <input type="text" name='Option{{option.id}} desc' value="{{option.description}}">
                    <label>Delete</label>
                    <input type="checkbox" name="Option{{option.id}} delete" value="delete">
                    <br>

                {% endfor %}
            {% endif %}

            {% if more_options %}
            <h3>New Options</h3>
                {% for new_option in more_options %}
                <label>Name</label>
                <input type="text" name='Option{{new_option}} title'>
                <label>Description</label>
                <input type="text" name='Option{{new_option}} desc'>
                <br>
                {% endfor %}
            {% endif %}

            <h3>Product Images</h3>
            {% for image in current_images %}

                <label>Image {{forloop.counter}}</label>
                <img src="{{image.image.url}}" style="width: 20%;">
                <!--Image Update-->
                <label>Change Image</label>
                <input type="file" name="{{image.id}} new">
                <!--Image Deletion-->
                <input type="checkbox" name="deletion_images" value="{{image.id}}"/>
                <label">
                    Delete
                </label>
                <br>

            {% endfor %} 

            {% for new_image in extra_images %}
                <label>Image {{new_image}}</label>
                <label>Add New Image</label>
                <input type="file" name="{{new_image}} new_image">
                <br>
            {% endfor %}

            <input
            type="submit"
            value="Update" />
        </ul>
    </form>

</body>
</html>