

<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

        <a href="{% url 'crafts_by_micks:home_page' %}">Return to Admin Home Page</a>

        {% if categories %}
            <h1>Create New Product</h1>

            <form action= "{% url 'crafts_by_micks:add_product' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h2>Categories</h2>
                    {% for category in categories%}
                        <input type="radio" name="category" id="category{{category.title}}" value="{{category.id}}" required />
                        <label for="category {{category.title}}">

                            {{category.title }}
                        </label>
                    {% endfor %}
                    <br>

                    <a href = "{% url 'crafts_by_micks:create_category' source='new_product' error='none' %}">New Product Category</a>
                    <br>

                    <h1>Labels</h1>
                    {% for label in labels%}
                    <input type="checkbox" name="labels" id="label{{label.id}}" value="{{label.id}}"/>
                    <label for="label {{label.title}}">
                        {{label.title }}
                    </label>
                    <br>
                    {% endfor %}
                    <a href = "{% url 'crafts_by_micks:create_label' source='new_product' error='none' %}">New Product Label</a>

                    <ul>
                        <li>
                            {% if error == "Duplicate Name" %}
                            Error Creating Product: {{error}}
                                <br>
                            {%endif%}
                            <label>Product Name</label>
                            <textarea name='title' rows="1" cols="20" style="resize: none;" required></textarea>
                            <br>
                        </li>

                        <li>
                            <label>Description</label>
                            <textarea name="description" rows="5" cols="50" style="resize: none;" required></textarea>
                            <br>
                        </li>
                        
                        <br>
                        <h1>Size Pricing</h1>
                        {% for size in size_choices %}
                            <li>
                            
                                <label><h4>{{size}}</h4></label>
                                <label>Price:</label>
                                <input type="number" min="0.0" name='{{size}} price' placeholder="0.00" step="0.01">
                                <br>
                            </li>
                        {% endfor %}
                        <br>

                        <h1>Product Options</h1>
                        {% for option_num in options_list %}
                            <li>
                                <label>Option {{option_num}}</label>
                                <input type="text" name="Option{{option_num}} title" placeholder="Name">
                                <input type="text" name="Option{{option_num}} desc" placeholder="Description">
                                <br>
                            </li>

                        {%endfor %}
                    </ul>
                    <br>

                    <label>Product Main Image</label>
                    <input type="file" name="main_image" required>
                    <br>

                    <h4>Additional Images</h4>
                    {% for image_num in images_list%}
                        <label>Image: {{image_num}}</label>
                            <label>Add Image</label>
                            <input type="file" name="Image{{image_num}} image">
                            <br>
                    {% endfor %}

                    <input
                    type="submit"
                    value="Create Product" />

            </form>

        {% else %}
        <h1>A Category is needed before a product can be added</h1>
        <a href = "{% url 'crafts_by_micks:create_category' source='new_product' error='none' %}">New Product Category</a>

        {% endif%}
    </body>
</html>