<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

        <a href="{% url 'crafts_by_micks:home_page' %}">Return to Admin Home Page</a>

        <form action= "{% url 'crafts_by_micks:add_category' source=source %}" method="post">
            {% csrf_token %}
            
            {% if error == "Duplicate Name" %}
               Error Creating Category: {{error}}
                <br>
            {%endif%}
            <label>Category Title</label>
            <input type="text" name='title' required>
            <br>
        
            <input type="submit" value="Add Product Category" />

        </form>

    </body>
</html>