<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Create New Label</h1>

        <form action= "{% url 'crafts_by_micks:add_label' source=source %}" method="post">
                        
            {% if error == "Duplicate Name" %}
               Error Creating Category: {{error}}
                <br>
            {%endif%}
            
            {% csrf_token %}
            <label>Label Title</label>
            <input type="text" name='title' required>
            <br>

            <label>Discount Percentage</label>
            <input type="number" name='discount_percentage' min="0" max="100" placeholder="Optional">
            <br>

            <label>Days to keep</label>
            <input type="number" name='removal_days' min="-1" placeholder="leave blank for none">
            <br>

            <label for="custom_colour">Label Colour</label>
            <input type="color" name="custom_colour" id="custom_colour" value="#89CFF0"/>
            <br>
        
            <input type="submit" value="Create Label" />

        </form>
        

    </body>
</html>